@import 'tailwindcss';

:root {
    --accent: #F7B639;
    --action-bad: #D44E4E;
    --action-good: #61BD4A;
    --action-neutral: #E0884C;
    --background: #72D6AE;
    --divider: #A1A1A1;
    --primary: #087f8c;
    --primary-dark: #095357;
    --primary-light: #5BAB96;
    --secondary: #199FD4;
    --text-primary: #FFFFFF;
    --text-secondary: #000000;
}

@font-face {
    font-family: 'Inter Variable';
    src: url('../fonts/Inter.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Italic';
    src: url('../fonts/Inter-Italic.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
}

@theme {
    --color-accent: var(--accent);
    --color-accent-bad: var(--action-bad);
    --color-action-good: var(--action-good);
    --color-action-neutral: var(--action-neutral);
    --color-background: var(--background);
    --color-divider: var(--divider);
    --color-primary: var(--primary);
    --color-primary-dark: var(--primary-dark);
    --color-primary-light: var(--primary-light);
    --color-secondary: var(--secondary);
    --color-text-primary: var(--text-primary);
    --color-text-secondary: var(--text-secondary);
    --font-sans: 'Inter Variable', sans-serif;
    --font-serif: 'Inter Variable', sans-serif;
    --font-italic: 'Inter Italic', sans-italic;
}

body {
    background: var(--background);
}
